<div class="header">
    <div class="header-title">Coucou</div>
    <img class="img" alt="Clément Rocolle - Développeur Web" src="{{ asset('build/img/header/clement.png') }}">
    <p>{{ 'header.instagram'|trans }}</p>
</div>