{% extends '_layout.html.twig' %}

{% import 'macro/block.html.twig' as blockMacro %}

{% set pageTemplate = 'home' %}
{% set titleTag = 'home.titleTag'|trans %}
{% set metaDescription = 'home.metaDescription'|trans %}

{% block body %}
    {% include 'include/header.html.twig' %}
    {% include 'include/background.html.twig' %}
    <div class="home lazyload-right">
        <div class="home-header">
            <div class="home-header-presentation">
                <p>{{ 'home.header'|trans|raw }}</p>
                <a class="home-header-presentation-cv button" href="{{ asset('build/pdf/CV.pdf') }}" download="CV_Clément_Rocolle.pdf" target="_blank">
                    <strong>Télécharger mon CV</strong> 
                </a>
            </div>
        </div>
        <div class="home-experiences">
            <h2 class="home-experiences-title">Experiences Professionnelles</h2>
            <hr class="home-experiences-underline">
            <div class="home-experiences-container">
            {% if experiences is defined %}
                {% for experience in experiences %}
                {{ blockMacro.block(experience.image, experience.date, experience.title, experience.society, experience.societyLink, experience.presentation, experience.tags, experience.github) }}
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="home-portfolio">
            <h2 class="home-portfolio-title">Portfolio</h2>
            <hr class="home-portfolio-underline">
            <div class="home-portfolio-container">
            {% if portfolios is defined %}
                {% for portfolio in portfolios %}
                {{ blockMacro.block(portfolio.image, portfolio.date, portfolio.title, portfolio.society, portfolio.societyLink, portfolio.presentation, portfolio.tags, portfolio.github) }}
                {% endfor %}
            {% endif %}
            </div>
        </div>
        {# <div class="home-contact">
            <h2 class="home-contact-title">Me contacter</h2>
            <hr class="home-contact-underline">
            <div class="home-contact-container">
                <form action="" class="container-form">
                    <div class="container-form-info">
                        <label for="" class="container-form-info-mail">Adresse mail
                            <input type="mail">
                        </label>
                        <label for="" class="container-form-info-phone">Téléphone (facultatif)
                            <input type="phone">
                        </label>
                    </div>
                    <label for="" class="container-form-message">Message
                        <textarea type="text"></textarea>
                    </label>
                    <input type="submit" class="container-form-button button" value="Envoyer">
                </form>
            </div>
        </div> #}
    </div>
{% endblock %}