.page-home{

    .home{
        display: flex;
        flex-flow: column nowrap;
        gap: 4rem; 
        width: 52rem;
        position: absolute;
        padding: 4rem;
        right: 15rem;

        @include responsive-xxl{
            right: 5rem;
        }

        @include responsive-xl{
            right: 4rem;
        }

        @include responsive-lg{
            position: unset;
            width: 100%;
            padding: 4rem;
        }

        @include responsive-xs{
            padding: 1rem;
        }

        &-header{

            &-presentation{
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                padding: 0 2rem 0 2rem;

                p{
                    color: $grey;

                    strong{
                        color: $white;
                    }
                }
            
                &-cv{
                    width: 100%;
                }
            }
        }

        &-experiences{
            display: flex;
            flex-flow: column nowrap;

            &-title{
                padding: 0 2rem 0 2rem;
                font-weight: 400;
                margin: 0;
            }

            &-underline{
                margin: 0.3rem 2rem 0 2rem;
                border: 1px solid $grey;
            }

            &-container{
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;
                margin-top: 1rem;
            }
        }

        &-portfolio{
            display: flex;
            flex-flow: column nowrap;

            &-title{
                padding: 0 2rem 0 2rem;
                font-weight: 400;
                margin: 0;
            }

            &-underline{
                margin: 0.3rem 2rem 0 2rem;
                border: 1px solid $grey;
            }

            &-container{
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;
                margin-top: 1rem;
            }
        }

        &-contact{
            display: flex;
            flex-flow: column nowrap;

            @include responsive-xs{
                padding-bottom: 2rem;
            }

            &-title{
                padding: 0 2rem 0 2rem;
                font-weight: 400;
                margin: 0;
            }

            &-underline{
                margin: 0 2rem 0 2rem;
                border: 1px solid $grey;
            }

            &-container{
                padding: 0 2rem 0 2rem;
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;
                margin-top: 2rem;

                .container-form{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    row-gap: 2rem;

                    label{
                        display: flex;
                        flex-flow: column nowrap;
                        color: $grey;
                    }

                    input{
                        margin-top: 0.5rem;
                        border: none;
                        border-radius: 15px;
                        height: 3rem;
                        padding: 1rem;
                    }

                    textarea{
                        margin-top: 0.5rem;
                        border: none;
                        border-radius: 15px;
                        height: 10rem;
                        padding: 1rem;
                    }

                    &-info{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        width: 100%;

                        @include responsive-xs{
                            flex-flow: column nowrap;
                            gap: 2rem;
                        }

                        &-mail{
                            width: 45%;

                            @include responsive-xs{
                                width: 100%;
                            }
                        }
    
                        &-phone{
                            width: 45%;

                            @include responsive-xs{
                                width: 100%;
                            }
                        }
                    }

                    &-message{
                        width: 100%;
                    }

                    &-button{
                        width: 25%;
                        font-size: 20px;
                        cursor: pointer;

                        @include responsive-xs{
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}