@font-face {
    font-family: 'Red Rose';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/redrose.woff2') format('woff2'),
        url('../fonts/redrose.woff') format('woff'),
        url('../fonts/redrose.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Market Deco';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/market_deco.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Magic Retro';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/magic_retro.ttf') format('truetype');
    font-display: swap;
}
