.block{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
    padding: 0 2rem 0 2rem;

    &:hover{
        padding: 1rem 2rem 1rem 2rem;
        margin: 0;
        border-radius: 15px;
        background-color: #272727;
        box-shadow: 0 0 7px $green, 0 0 10px $green-opacity;

        .block-info-title{

            strong{
                color: $green;
            }
        }
    }

    @include responsive-xs{
        flex-flow: column nowrap;
        gap: 1rem;

        &:hover{
            margin: 1rem 0 1rem 0;
            padding: 0 2rem 0 2rem;
            border-radius: unset;
            background-color: unset;
            box-shadow: unset;

            .block-info-title{
                color: $white;
            }
        }
    }

    &-date{
        color: $grey;
        margin: 0;
        white-space: nowrap;
        width: 25%;
    }

    &-img{
        max-height: 6rem;
        max-width: 11rem;
        padding: 1rem;

        &-container{
            display: flex;
            justify-content: center;
            background-color: $dark-block;
            border-radius: 5px;
            width: 25%;
            height: max-content;

            @include responsive-xs{
                width: 100%;
            }
        }
    }

    &-info{
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        width: 70%;

        hr{
            width: 25%;
            margin: 0.7rem 0 0 0;
            opacity: 0.5;
        }

        @include responsive-xs{
            width: 100%;
        }

        &-date{
            color: $grey;
            margin: 0;
            white-space: nowrap;
        }

        &-title{
            margin: 0;
            font-size: 20px;

            @include responsive-xs{
                font-size: 16px;
            }
        }

        &-society{
            color: $white;
            font-size: 16px;
            margin: 0;

            @include responsive-xs{
                font-size: 12px;
            }
        }

        &-presentation{
            color: $grey;

            a{

                u{
                    color: $white;
                }
            }
        }

        &-tags{
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
        }
    }
}