.tag{
    background-color: $green-opacity;
    padding: 0.5rem;
    border-radius: 30px;
    width: max-content;
    box-shadow: 0 0 7px $black, 0 0 10px $green-opacity;

    &:hover{

        .tag-text{
            color: $yellow;
            font-weight: bold;
        }
    }

    &-text{
        color: $green;
        margin: 0;
        font-size: 16px;
    }
}