.header{
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    left: 0;
    padding: 4rem;
    margin-left: 15rem;
    height: 100%;
    gap: 2rem;
    width: 35%;

    @include responsive-xxl{
        margin-left: 5rem;
        width: 40%;
        gap: 1rem;
    }

    @include responsive-xl{
        margin-left: 4rem;
    }

    @include responsive-lg{
        width: auto;
        left: unset;
        margin-left: 0;
        position: unset;
        align-items: center;
        padding: 4rem 4rem 0 4rem;
    }

    @include responsive-xs{
        padding: 2rem 2rem 0 2rem;
    }

    &-img{
        position: relative;
        width: 12rem;
        left: -28px;

        @include responsive-xs{
            position: unset;
            left: 0;
        }
    }

    &-name{
        font-size: 24px;
        margin: 0;

        @include responsive-xs{
            font-size: 24px;
        }
    }

    &-title{
        font-size: 30px;
        color: $green;
        font-weight: 400;
        text-shadow: 0 0 7px $black, 0 0 10px $green;
        margin: 0;

        @include responsive-xs{
            font-size: 20px;
        }
    }

    &-education{
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        margin-top: 2rem;

        @include responsive-xxl{
            flex-flow: row nowrap;
            gap: 1rem;
        }

        @include responsive-lg{
            gap: 2rem;
            width: 100%;
            padding: 0 2rem 0 2rem;
            margin-top: 4rem;
            justify-content: space-between;
        }

        @include responsive-xs{
            flex-flow: column nowrap;
            margin-top: 2rem;
            padding: 0 1rem 0 1rem;
            justify-content: normal;
        }

        .diploma{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            @include responsive-xxl{
                flex-flow: column nowrap;
                width: 30%;
                justify-content: normal;
                align-items: normal;
            }

            @include responsive-lg{
                flex-flow: row nowrap;
            }

            @include responsive-xs{
                width: auto;
                justify-content: space-between;
                align-items: center;
            }

            &-school{
                display: flex;
                flex-flow: column nowrap;
                width: 15%;

                @include responsive-xxl{
                    width: 50%;
                    height: 15%;
                    justify-content: center;
                }

                @include responsive-lg{
                    width: 30%;
                    height: auto;
                    justify-content: normal;
                }

                @include responsive-xs{
                    width: 15%;
                }

                &-image{
                    width: auto;
                }
            }

            &-info{
                display: flex;
                flex-flow: column nowrap;
                width: 75%;

                @include responsive-xxl{
                    width: 85%;
                }

                &-lvl{
                    margin: 0;
                    color: $yellow;
                    text-shadow: none;
                }

                &-title{
                    margin: .5rem 0 0 0;
                    font-weight: 100;
                    text-shadow: none;
                }

                &-date{
                    margin: 0;
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }

    &-social{
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        width: 12rem;
        padding: 1rem;
        background-color: $white;
        border-radius: 15px;
        position: absolute;
        bottom: 4rem;

        a{
            height: 2rem;
        }

        @include responsive-lg{
            flex-flow: column nowrap;
            position: fixed;
            right: 0;
            width: auto;
            border-radius: 15px 0 0 15px;
            height: 12rem;
            top: 4rem;
            padding: 1rem;
            gap: 1.5rem;
        }

        @include responsive-xs{
            height: 9.5rem;
            top: 2rem;
            padding: 0.5rem;
            gap: 1rem;
        }

        &-img{
            width: 2rem;
        }
    }
}