.header{
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    left: 0;
    padding: 4rem;
    margin-left: 20rem;
    height: 100%;

    @include responsive-xxl{
        margin-left: 10rem;
    }

    @include responsive-xl{
        margin-left: 4rem;
    }

    @include responsive-lg{
        left: unset;
        margin-left: 0;
        position: unset;
        align-items: center;
        padding: 4rem;
    }

    @include responsive-xs{
        padding: 2rem;
    }

    &-cv{
        margin: 2rem 0 2rem 0;
        width: fit-content;
        padding: 1rem;
        border-radius: 15px;
        background-color: $white;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        align-items: center;

        &:hover{
            background-color: $green;

            img{
                transform: rotate(90deg);
                transition-duration: 500ms;
            }
        }

        strong{
                color: $black;
        }
    }

    &-name{
        font-size: 24px;

        @include responsive-xs{
            font-size: 24px;
        }
    }

    &-title{
        font-size: 30px;
        color: $green;
        font-weight: 400;
        text-shadow: 0 0 7px $black, 0 0 10px $green;
        margin: 0;
    }

    &-img{
        position: relative;
        width: 12rem;
        left: -28px;

        @include responsive-xs{
            position: unset;
            left: 0;
        }
    }

    &-social{
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        width: 12rem;
        padding: 1rem;
        background-color: $white;
        border-radius: 15px;
        position: absolute;
        bottom: 4rem;

        &:hover{
            background-color: $green;
        }

        a{
            height: 2rem;
        }

        @include responsive-lg{
            flex-flow: column nowrap;
            position: fixed;
            right: 0;
            width: auto;
            border-radius: 15px 0 0 15px;
            height: 12rem;
            top: 4rem;
            padding: 1rem;
            gap: 1.5rem;
        }

        @include responsive-xs{
            height: 9.5rem;
            top: 2rem;
            padding: 0.5rem;
            gap: 1rem;
        }

        &-img{
            width: 2rem;
        }
    }
}